<!DOCTYPE html>
{% set data = load_data(path="content/info.toml") %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.author.name}}</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <header>
        {% include "header.html" %}
    </header>

    <div class="main">
        <nav class="sidebar">
            {% include "sidebar.html" %}
        </nav>

        <article class="content">
            {% block content %} {% endblock content %}
        </article>

    </div>
</body>

</html>