<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="1JWVG1OMiGdqc1zc_Ab4tVTn1sXsOIM1urfLJHCzCm0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config.extra.author.name}}</title>
    <link rel="stylesheet" href="/style.css" />

    <script type="text/x-mathjax-config">
       MathJax.Hub.Config({
          extensions: ["tex2jax.js"],
          jax: ["input/TeX", "output/HTML-CSS"],
          tex2jax: { 
            inlineMath: [ ["$$", "$$"], ["\\(","\\)"] ],
            displayMath: [ ["\\[","\\]"] ],
            //processEscapes: true
            },
          "HTML-CSS": { availableFonts: ["TeX"] }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML"></script>

</head>

<body>
    <header>
        {% include "header.html" %}
    </header>

    <div class="main">
        <nav class="sidebar">
            {% include "sidebar.html" %}
        </nav>

        <article class="content">
            {% block content %} {% endblock content %}
        </article>

    </div>
</body>

</html>
