<div class="header">
    <div class="home">
        <a href="/">{{ data.author.name }}</a>
    </div>

    {% set section = get_section(path="_index.md") %}

    <input class="unroll" type="checkbox" id="switch" />
    <label class="unroll" for="switch">
        <div>unroll</div>
    </label>

    <div class="menu">
        <ul>
            {% for item in config.extra.navbar %}

            {% if item.url %}
            <li>

                {% if item.url is ending_with("/_index.md") %}

                {% set section = get_section(path=item.url) %}
                <a href="{{ section.permalink | safe }}">{{ section.title }}</a>

                {% elif item.url is ending_with(".md") %}

                {% set page = get_page(path=item.url) %}
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>

                {% elif item.title %}

                {% set url = get_url(path=item.url) %}
                <a href="{{ url | safe }}">{{ item.title }}</a>

                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>