<div>
    <div class="avatar">
        {% set image = resize_image(path="images/profile.png", width=135, op="fit_width" ) %}
        <img src="{{ image.url }}" alt="{{config.extra.author.name}}">
    </div>

    <div class="description">
        <h3>{{config.extra.author.name}}</h3>
        <div>{{config.extra.author.description}}</div>
    </div>

    <div class="contact">
        <div>
            {% include "icons/map-marker.html" %} {{config.extra.author.location}}
        </div>
        <div>
            <a href="mailto:{{config.extra.author.email}}">
                {% include "icons/envelope.html" %} {{config.extra.author.email}}
            </a>
        </div>
        <div>
            <a href="{{config.extra.author.github}}">
                {% include "icons/github.html" %} Github
            </a>
        </div>
        <div>
            <a href="{{config.extra.author.scholar}}">
                {% include "icons/graduation-cap.html" %} Google Scholar
            </a>
        </div>
        <div>
            <a href="{{config.extra.author.orcid}}">
                {% include "icons/orcid.html" %} ORCID
            </a>
        </div>
    </div>
</div>